.overlap-hover1 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.overlap-hover1:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: rgb(235,236,240);
}

.overlap-hover2 {
    
}

.overlap-hover2:hover {
    background-color: rgb(23,236,240);
    border-radius: 15px;
}